################################################################################
# Visual Studio
################################################################################
.vs/
*.user
*.suo

################################################################################
# Build folders
################################################################################
bin/
obj/

################################################################################
# Specific project (optional)
################################################################################
Learnitallandroid1/obj/